<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>persistence.xml</param-value>
    </context-param>
    <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.alexd.servlets.LoginServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DriverServlet</servlet-name>
        <servlet-class>com.alexd.servlets.DriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DriverServlet</servlet-name>
        <url-pattern>/DriverServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>AllDriversServlet</servlet-name>
    <servlet-class>com.alexd.servlets.AllDriversServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>AllDriversServlet</servlet-name>
<url-pattern>/AllDriversServlet</url-pattern>
</servlet-mapping>

    <servlet>
        <servlet-name>AddDriverServlet</servlet-name>
        <servlet-class>com.alexd.servlets.AddDriverServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddDriverServlet</servlet-name>
        <url-pattern>/AddDriverServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DelUserServlet</servlet-name>
        <servlet-class>com.alexd.servlets.DelUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelUserServlet</servlet-name>
        <url-pattern>/DelUserServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditServlet</servlet-name>
        <servlet-class>com.alexd.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditServlet</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet>
    <servlet-name>AllTruckServlet</servlet-name>
    <servlet-class>com.alexd.servlets.AllTruckServlet</servlet-class>
</servlet>
    <servlet-mapping>
        <servlet-name>AllTruckServlet</servlet-name>
        <url-pattern>/AllTruckServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddTruckServlet</servlet-name>
        <servlet-class>com.alexd.servlets.AddTruckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddTruckServlet</servlet-name>
        <url-pattern>/AddTruckServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TruckDelServlet</servlet-name>
        <servlet-class>com.alexd.servlets.TruckDelServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TruckDelServlet</servlet-name>
        <url-pattern>/TruckDelServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditTruckServlet</servlet-name>
        <servlet-class>com.alexd.servlets.EditTruckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditTruckServlet</servlet-name>
        <url-pattern>/EditTruckServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllOrderServlet</servlet-name>
        <servlet-class>com.alexd.servlets.AllOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllOrderServlet</servlet-name>
        <url-pattern>/AllOrderServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddOrderServlet</servlet-name>
        <servlet-class>com.alexd.servlets.AddOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOrderServlet</servlet-name>
        <url-pattern>/AddOrderServlet</url-pattern>
    </servlet-mapping>

</web-app>